:root {
    --primary-color: #2d4fda;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    
    
    
    --navbar-height: 30px;
    
}
* {
    box-sizing: inherit;
}
div {
    display: block;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
:after {
    box-sizing: border-box;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
.grid__column-2-4 {
    padding-left: 60px ;
    padding-right: 0px;
    width: 20;
}


